@keyframes rotate {
    0% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}
@keyframes moveUpDown{
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(100px);
    }
}
@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0.3;
    }
    25%{
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}
.content {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(-45deg, #e6ff00, #b3ff00,#0aff00,#2cfb23,#43fbc3,#47f7df,#29c6ff, #009dff,#0e8afe);
    background-size: 600% 400%;
    animation: backgroundAnimation 10s ease infinite;
    border-radius: 6px;
    color: white;
    text-align: center;
}
h1 {
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow:
        0 1px 0 #efefef,
        0 2px 0 #efefef,
        0 3px 0 #efefef,
        0 4px 0 #efefef,
        0 12px 5px rgba(0, 0, 0, 0.1);
    animation: rotate ease-in-out 1.3s infinite alternate;
}
p {
    font-size: 20px;
    text-shadow: 0 1px 0 #e6e6e6;
    animation: 4s ease infinite forwards fadeIn;
}